:root {
	--font-body: 'Inter', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-theme-1: #55acee;
	--color-theme-2: #f4900c;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
}

h1,
h2 {
	font-weight: 700;
	font-family: var(--font-mono);
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
	font-weight: 500;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
	outline: none;
}

input {
	border: 2px solid var(--color-theme-1);
	border-radius: 0.25rem;
	padding: 0.5rem;
	margin: 2px;
	color: var(--color-theme-1);
	transition: all 0.2s ease-in-out;
}

input:invalid {
	border-color: var(--color-theme-2);
	color: var(--color-theme-2);
}

label.required:after {
	content: '*';
	color: var(--color-theme-2);
	margin-left: 0.25rem;
}

button {
	color: var(--color-theme-1);
	border-radius: 0.25rem;
	border: 2px solid var(--color-theme-1);
	padding: 0.5rem;
	margin: 2px;
	background-color: #fff;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

button:hover {
	background-color: var(--color-theme-1);
	color: #fff;
}

button:disabled {
	border: 2px solid #a2a2a2;
	color: #a2a2a2;
	cursor: not-allowed;
}

button:disabled:hover {
	background-color: #fff;
	color: #a2a2a2;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
